<%= form_for(@server) do |f| %>
    <% if @server.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

          <ul>
            <% @server.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :instance_id %><br>
      <%= f.text_field :instance_id %>
    </div>
    <div class="field">
      <%= f.label :ip_address %><br>
      <%= f.text_field :ip_address %>
    </div>
    <div class="field">
      <%= f.label :ssh_user %><br>
      <%= f.text_field :ssh_user %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
