<p id="notice"><%= notice %></p>

<h1>Listing Servers</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>InstanceId</th>
      <th>IpAddress</th>
      <th>Cpu Usage</th>
      <th>Disk Usage(in %)</th>
      <th>last Updated</th>
      <th>Created On</th>

      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td><%= server.instance_id %></td>
        <td><%= server.ip_address %></td>
        <td><%= server.cpu_usage %></td>
        <td><%= server.disk_usage %></td>
        <td><%= server.updated_at %></td>
        <td><%= server.created_at %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!--<td><a class="metrics-lnk" href="">Show metrics</a></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path %>
