<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Instance:</strong>
  <%= @server.instance_id %>
</p>

<p>
  <strong>IpAddress:</strong>
  <%= @server.ip_address %>
</p>

<p>
  <strong>Cpu usage:</strong>
    <table border="1">
        <thead>
            <tr>
            <%@server.cpu_usage_history.each do |history|%>
              <td>
                <%=history['created_at']%>
              </td>
            <%end%>
            </tr>
        </thead>
      <tbody>
      <tr>
        <%@server.cpu_usage_history.each do |history|%>
            <td>
              <%=history['attribute_value'].presence || "no data"%>
            </td>
        <%end%>
      </tr>

      </tbody>
    </table>
</p>

<p>
  <strong>Data usage:</strong>
<table border="1">
  <thead>
  <tr>
    <%@server.disk_usage_history.each do |history|%>
        <td>
          <%=history['created_at']%>
        </td>
    <%end%>
  </tr>
  </thead>
  <tbody>
  <tr>
    <%@server.disk_usage_history.each do |history|%>
        <td>
          <%=history['attribute_value'].presence || "no data"%>
        </td>
    <%end%>
  </tr>

  </tbody>
</table>
</p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>

<p>

  <a href="/servers/<%= @server.id%>/processes/">
    <button>Show Processes Running:
    </button>
  </a>
</p>
