<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>
<%= link_to 'Back', "/servers/#{@server.id}" %>
<p>
  <strong>Processes:</strong>
</p>
    <% i=0 %>
    <% while (i < @processes.length) do%>
    <p>
      <% cur_i = 1%>
      <%  while(cur_i%12 != 0) do %>
          <%= @processes[i] %>
          <%cur_i+=1%>
          <%i+=1%>
      <%end%>
    </p>
    <%end%>




